/* Header */

.main-header {
    width: 100%;
    top: 0;
    left: 0;
}

.incon {
    float: right;
}


.logo {
    display: block; /*transforma o elemento de linha como elemento de bloco*/
    width: 80px;
    float: left;
    padding-top: 2px; /*afasta com uma margem o cabeçalho do topo*/

}

.logo img {
    height: 100px;
}

.main-header ul {
    float: right;
}

.main-header li {/*Estiliza as li(s)*/
    float: left; /*rotaciona os blocos em sentido anti horario, que é o correto*/
}

@media(max-width: 640px) {
    .main-header ul,
    .main-header li {
        float: none;
        clear: both;
    }
}

.main-header ul a {
    /*determina a largura e altura de forma dinâmica*/
    display: block;
    padding: 15px;
}

#mobile-menu, /* para referenciar id usa # */
.mobile-menu {
    display: none;
}

@media (max-width: 640px) {

    .main-header ul {
        display: none;
    }

    .mobile-menu {
        display: block;
        float: right;
        height: 45px;
        width: 45px;
        padding: 10px;
        margin-top: 3px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        float: right;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mobile-menu span {
        display: block;
        height: 3px;
        margin: 4px 0;
        border-radius: 4px;
        background: #999;
    }

    #mobile-menu:checked + ul {
        display: block;
    }
}

