/* Banner */

.main-banner {
    display: table;/*força o banner a se comportar como tabela*/
    width: 100%;   /*faz o banner ter sempre a largura da tela*/
    height: 100vh;  /*faz o banner ter sempre a alura da tela*/
    position: relative;
    background: url("../img/Creative.jpg") no-repeat center / cover; /*refere-se a imagem de fundo que pode ser cor imagem e o 
                                                            no-repeat faz com que a imagem não se duplique se a tela for
                                                            maior e o center deixa sempre a imagem no centro da tela cover
                                                            e o cover adapta a imagem ao tamnho da tela*/
    color: #fff;
}

.main-banner::before { /*Cria uma mascara no banner*/
    content: ""; /*com isso o elemento passa a existir*/
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5; /*vai do zero ao um e determina a opacidade do gradiente*/
    background: -moz-linear-gradient(-45deg,  #1e5799 0%, #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1e5799 0%,#007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-banner article{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;/*Centraliza verticalmente*/
    text-align: center; /*Centraliza horizontalmente*/
    position: relative;
    z-index: 2;
}

.main-banner h1 {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 70px; /*tamanho da linha do texto*/
}

.main-banner p {
    max-width: 800px; /*pode ficar no maximo a 800px*/
    margin: 0 auto 40px;
    font-size: 22px;
    line-height: 30px;
    line-height: 30px;

}