/* Reset */

nav ul, /*Declara elementos que vão ser repetidos*/
body {
    margin: 0;
}

nav ul { /* pega toda ul que estiver dentro de uma nav */
    padding: 0;
    list-style: none; /* none significa nada*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    columns: #666;
}

a {
    color: #007aff;
    text-decoration: none; /*tira o sublinhado do link*/
}

a:hover {
    text-decoration: underline;
}