.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url(https://www.comunidadeculturaearte.com/wp-content/uploads/2017/06/black-mirror.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#inputDisplay {
  text-align: center;
  height: 30px;
  width: 100px;
  margin-top: 10px;
  
}

.buton {
  margin: 15px;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 50px;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.mensagemDeSucesso{
  margin-top: 15px;
}

.pos {
  position: float;
  align-items: left;
}

.assistir{
  background-color: rgb(74, 86, 109);
}
