
.box {
    display: inline;
}
.box-bandeira {
    display: block;
    width: 50px;
    height: 50px;
    background: rgb(80, 79, 79);
    
}

.box-bandeira2 {
    width: 50px;
    height: 50px;
    background: rgb(42, 62, 172);
}

