/* Banner */

.main-col {
    display: table;/*força o banner a se comportar como tabela*/
    position: relative;
}

.main-colDireita {
    text-align: left;
    display: table-cell;
    width: 60%;
    list-style: none;
    padding: 15px;

}

.main-colEsquerda {
    text-align: left;
    display: table-cell;
    width: 40%;
    list-style: none;
    padding: 15px;

}

.main-coltopo {
    padding-top: 75px;
}

.separador {
    padding: 15px;
}

.main-banner2 {
    display: table;/*força o banner a se comportar como tabela*/
    width: 100%;   /*faz o banner ter sempre a largura da tela*/
    position: relative;
    text-align: center;
    background: #ffffff; /*refere-se a imagem de fundo que pode ser cor imagem e o 
                                                            no-repeat faz com que a imagem não se duplique se a tela for
                                                            maior e o center deixa sempre a imagem no centro da tela cover
                                                            e o cover adapta a imagem ao tamnho da tela*/
    color: rgb(0, 0, 0);
}

.main-colEsquerda {
    text-align: left;
    display: table-cell;
    width: 60%;
    list-style: none;
    padding: 15px;

}

textarea {
    padding: 80px 0;
    margin-top: 15px;
    width: 100%;
}
input {
    margin-top: 15px;
    width: 100%;
}