.azul {
    display: block;
    width: 30px;
    height: 60px;
    background: blue;
}

.branco {
    display: block;
    width: 30px;
    height: 60px;
    background: rgb(255, 255, 255);
}

.col-1 {
    width: 8.333333333333%;
}
.col-2 {
    width: 16.6666666666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
   width: 33.3333333333%;
}
.col-5 {
    width: 41.666666666%;
 }
.col-6 {
    width: 50%;
}
.col-7 {
    width:58.3333333333%;
}
.col-8 {
    width:66.6666666666%;
}
.col-9 {
    width:75%;
}
.col-10 {
    width:83.3333333333%;
}
.col-11 {
    width:91.6666666666%;
}
.col-12 {
    width:100%;
}

@media(min-width: 640px) { /* Estabelece o tamanho de tela mínima, programador que escolhe */
    .col-md-1 {
        width: 8.333333333333%;
    }
    .col-md-2 {
        width: 16.6666666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
       width: 33.3333333333%;
    }
    .col-md-5 {
        width: 41.666666666%;
     }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width:58.3333333333%;
    }
    .col-md-8 {
        width:66.6666666666%;
    }
    .col-md-9 {
        width:75%;
    }
    .col-md-10 {
        width:83.3333333333%;
    }
    .col-md-11 {
        width:91.6666666666%;
    }
    .col-md-12 {
        width:100%;
    }
}

@media(min-width: 1080px) { /* Estabelece o tamanho de tela mínima, programador que escolhe */
    .col-lg-1 {
        width: 8.333333333333%;
    }
    .col-lg-2 {
        width: 16.6666666666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
       width: 33.3333333333%;
    }
    .col-lg-5 {
        width: 41.666666666%;
     }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width:58.3333333333%;
    }
    .col-lg-8 {
        width:66.6666666666%;
    }
    .col-lg-9 {
        width:75%;
    }
    .col-lg-10 {
        width:83.3333333333%;
    }
    .col-lg-11 {
        width:91.6666666666%;
    }
    .col-lg-12 {
        width:100%;
    }
}


