
.quadrado {
    margin-top: 30px;
    width: 500px;
    height: 500px;
    background: #413e3e;
}

.circulo {
    z-index: 99;
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
}