
.div2 {
    width: 500px;
    height: 100px;
    position: relative;
}

.img {
    display: block;
    margin-left: 137.5px;
    margin-right: auto;
}

.vermelho2 {
    background: red;
}
.branco2 {
    background: white;
}




