/* Banner */

.main-banner {
    display: table;/*força o banner a se comportar como tabela*/
    width: 100%;   /*faz o banner ter sempre a largura da tela*/
    height: 100vh;  /*faz o banner ter sempre a alura da tela*/
    position: relative;
    background: url("./Conteudo_4/img/aguiaAmericana.jpg") no-repeat center / cover; /*refere-se a imagem de fundo que pode ser cor imagem e o 
                                                            no-repeat faz com que a imagem não se duplique se a tela for
                                                            maior e o center deixa sempre a imagem no centro da tela cover
                                                            e o cover adapta a imagem ao tamnho da tela*/
    color: #fff;
}

.main-banner::before { /*Cria uma mascara no banner*/
    content: ""; /*com isso o elemento passa a existir*/
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5; /*vai do zero ao um e determina a opacidade do gradiente*/
    background: -moz-linear-gradient(-45deg,  #1e5799 0%, #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1e5799 0%,#007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-banner article{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;/*Centraliza verticalmente*/
    text-align: center; /*Centraliza horizontalmente*/
    position: relative;
    z-index: 2;
}

.main-banner h1 {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 70px; /*tamanho da linha do texto*/
}

.main-banner p {
    max-width: 800px; /*pode ficar no maximo a 800px*/
    margin: 0 auto 40px;
    font-size: 22px;
    line-height: 30px;
    line-height: 30px;

}

/* Box */

.box {
    padding: 15px;
    border-radius: 8px;
    background: #d8cece;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0 auto;
    border: 5px solid #fff;
    background: #d8cece;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*responsável pela sombra horizontal, vertical, tamanho, cor*/
}

.box img {
    height: 100%;
}

/* Buttons */

.button {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 8px; /*canto arredondados*/
    font-size: 16px; /*tamanho da fonte*/
    line-height: 16px;  /*tamanho da da linha*/
    color: #222; /*cor da letra*/
    background: #ddd; /*cor de fundo*/
    cursor: pointer;
}

.button2 {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 8px; /*canto arredondados*/
    font-size: 12px; /*tamanho da fonte*/
    line-height: 12px;  /*tamanho da da linha*/
    color: rgb(89, 91, 201); /*cor da letra*/
    background: #ddd; /*cor de fundo*/
}

.button:hover {
    text-decoration: none;
    transition: background 0.2s ease-in-out 0; /*transição quando coloca o mouse em cima do botão primeiro propriedade de animação
                                valor duração da transição e terceiro */
}

.button-big {
    padding: 25px 40px;
    font-size: 24px;
    line-height: 24px;
}

.button-blue {
    color: #fff;
    background: #007aff;
}
.button-blue:hover {
    background: #2d92ff;
}

.button-green {
    color: #fff;
    background: #39b54a;
}

.button-green:hover {
    background: #74fd86;
}

.button-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
}

.button-contact {
    display: inline-block;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 8px; /*canto arredondados*/
    font-size: 12px; /*tamanho da fonte*/
    line-height: 12px;  /*tamanho da da linha*/
    color: rgb(255, 255, 255); /*cor da letra*/
    background: rgb(0, 0, 0); /*cor de fundo*/
}

/* Banner */

.main-col {
    display: table;/*força o banner a se comportar como tabela*/
    position: relative;
}

.main-colDireita {
    text-align: left;
    display: table-cell;
    width: 60%;
    list-style: none;
    padding: 15px;

}

.main-colEsquerda {
    text-align: left;
    display: table-cell;
    width: 40%;
    list-style: none;
    padding: 15px;

}

.main-coltopo {
    padding-top: 75px;
}

.separador {
    padding: 15px;
}

.main-banner2 {
    display: table;/*força o banner a se comportar como tabela*/
    width: 100%;   /*faz o banner ter sempre a largura da tela*/
    position: relative;
    text-align: center;
    background: #ffffff; /*refere-se a imagem de fundo que pode ser cor imagem e o 
                                                            no-repeat faz com que a imagem não se duplique se a tela for
                                                            maior e o center deixa sempre a imagem no centro da tela cover
                                                            e o cover adapta a imagem ao tamnho da tela*/
    color: rgb(0, 0, 0);
}

.main-colEsquerda {
    text-align: left;
    display: table-cell;
    width: 60%;
    list-style: none;
    padding: 15px;

}

textarea {
    padding: 80px 0;
    margin-top: 15px;
    width: 100%;
}
input {
    margin-top: 15px;
    width: 100%;
}

/* Footer */

.main-footer {
    padding: 20px 0;
    margin-top: 20px;
    background: #ffffff;
    text-align: center;
    
}

.main-footer li,
.main-footer a {
    display: inline-block;
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 20px 0 0;
}

/* Grid */

.container {
    max-width: 1080px;  /*Declaração de largura width - fixa / min-width - minima / max-width - maxima*/
    padding-left: 15px; /*Margem interna esquerda*/
    padding-right: 15px; /*Margem interna direita*/
    margin: 0 auto; /*Margem da pagina em cima e embaixo = 0 e direita e esquerda automatico, sempre nesta ordem*/
    box-sizing: border-box;
    display: inline-flex;
}

            /*Usar sempre no pai de elementos que flutuam*/
            
.clearfix:before, /*dois pontos equivale a uma pseudo classe*/
.clearfix:after,
.row:before,
.row:after { 
    content:""; /*cria um elemento na posição determinada pela classe acima*/
    display: table; /*Poderia ser um block tbm*/
    clear: both; /*trata o problema dos floats adciona um elemento antes e depois para determinar altura do float*/
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    box-sizing: border-box; /*corrige o tamanho para não ser somado 50 + 15*/
    width: 100%;
}


.col-1 {
    width: 8.333333333333%;
}
.col-2 {
    width: 16.6666666666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
   width: 33.3333333333%;
}
.col-5 {
    width: 41.666666666%;
 }
.col-6 {
    width: 50%;
}
.col-7 {
    width:58.3333333333%;
}
.col-8 {
    width:66.6666666666%;
}
.col-9 {
    width:75%;
}
.col-10 {
    width:83.3333333333%;
}
.col-11 {
    width:91.6666666666%;
}
.col-12 {
    width:100%;
}

@media(min-width: 640px) { /* Estabelece o tamanho de tela mínima, programador que escolhe */
    .col-md-1 {
        width: 8.333333333333%;
    }
    .col-md-2 {
        width: 16.6666666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
       width: 33.3333333333%;
    }
    .col-md-5 {
        width: 41.666666666%;
     }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width:58.3333333333%;
    }
    .col-md-8 {
        width:66.6666666666%;
    }
    .col-md-9 {
        width:75%;
    }
    .col-md-10 {
        width:83.3333333333%;
    }
    .col-md-11 {
        width:91.6666666666%;
    }
    .col-md-12 {
        width:100%;
    }
}

@media(min-width: 1080px) { /* Estabelece o tamanho de tela mínima, programador que escolhe */
    .col-lg-1 {
        width: 8.333333333333%;
    }
    .col-lg-2 {
        width: 16.6666666666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
       width: 33.3333333333%;
    }
    .col-lg-5 {
        width: 41.666666666%;
     }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width:58.3333333333%;
    }
    .col-lg-8 {
        width:66.6666666666%;
    }
    .col-lg-9 {
        width:75%;
    }
    .col-lg-10 {
        width:83.3333333333%;
    }
    .col-lg-11 {
        width:91.6666666666%;
    }
    .col-lg-12 {
        width:100%;
    }
}

/* Reset */

nav ul, /*Declara elementos que vão ser repetidos*/
body {
    margin: 0;
}

nav ul { /* pega toda ul que estiver dentro de uma nav */
    padding: 0;
    list-style: none; /* none significa nada*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    columns: #666;
}

a {
    color: #007aff;
    text-decoration: none; /*tira o sublinhado do link*/
}

a:hover {
    text-decoration: underline;
}

/* Header */

.main-header {
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /*Insere uma sombra, tem que ter 4 parametros*/
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}


.logo {
    display: block; /*transforma o elemento de linha como elemento de bloco*/
    width: 80px;
    float: left;
    padding-top: 2px; /*afasta com uma margem o cabeçalho do topo*/

}

.logo img {
    height: 60px;
}

.main-header ul {
    float: right;
}

.main-header li {/*Estiliza as li(s)*/
    float: left; /*rotaciona os blocos em sentido anti horario, que é o correto*/
}

@media(max-width: 640px) {
    .main-header ul,
    .main-header li {
        float: none;
        clear: both;
    }
}

.main-header ul a {
    /*determina a largura e altura de forma dinâmica*/
    display: block;
    padding: 15px;
}

#mobile-menu, /* para referenciar id usa # */
.mobile-menu {
    display: none;
}

@media (max-width: 640px) {

    .main-header ul {
        display: none;
    }

    .mobile-menu {
        display: block;
        float: right;
        height: 45px;
        width: 45px;
        padding: 10px;
        margin-top: 3px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        float: right;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mobile-menu span {
        display: block;
        height: 3px;
        margin: 4px 0;
        border-radius: 4px;
        background: #999;
    }

    #mobile-menu:checked + ul {
        display: block;
    }
}
