/* Box */

.box1 {
    padding: 15px;
    border-radius: 8px;
    background: #d8cece;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0 auto;
    border: 5px solid #fff;
    background: #d8cece;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*responsável pela sombra horizontal, vertical, tamanho, cor*/
}

.box img {
    height: 100%;
}

.img {
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}