/* Buttons */

.button {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 8px; /*canto arredondados*/
    font-size: 16px; /*tamanho da fonte*/
    line-height: 16px;  /*tamanho da da linha*/
    color: #222; /*cor da letra*/
    background: #ddd; /*cor de fundo*/
    cursor: pointer;
}

.button2 {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 8px; /*canto arredondados*/
    font-size: 12px; /*tamanho da fonte*/
    line-height: 12px;  /*tamanho da da linha*/
    color: rgb(89, 91, 201); /*cor da letra*/
    background: #ddd; /*cor de fundo*/
}

.button:hover {
    text-decoration: none;
    transition: background 0.2s ease-in-out 0; /*transição quando coloca o mouse em cima do botão primeiro propriedade de animação
                                valor duração da transição e terceiro */
}

.button-big {
    padding: 25px 40px;
    font-size: 24px;
    line-height: 24px;
}

.button-blue {
    color: #fff;
    background: #007aff;
}
.button-blue:hover {
    background: #2d92ff;
}

.button-green {
    color: #fff;
    background: #39b54a;
}

.button-green:hover {
    background: #74fd86;
}

.button-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
}

.button-contact {
    display: inline-block;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 8px; /*canto arredondados*/
    font-size: 12px; /*tamanho da fonte*/
    line-height: 12px;  /*tamanho da da linha*/
    color: rgb(255, 255, 255); /*cor da letra*/
    background: rgb(0, 0, 0); /*cor de fundo*/
}