/* Grid */

.container {
    max-width: 1080px;  /*Declaração de largura width - fixa / min-width - minima / max-width - maxima*/
    padding-left: 15px; /*Margem interna esquerda*/
    padding-right: 15px; /*Margem interna direita*/
    margin: 0 auto; /*Margem da pagina em cima e embaixo = 0 e direita e esquerda automatico, sempre nesta ordem*/
    box-sizing: border-box;
}

            /*Usar sempre no pai de elementos que flutuam*/
            
.clearfix:before, /*dois pontos equivale a uma pseudo classe*/
.clearfix:after,
.row:before,
.row:after { 
    content:""; /*cria um elemento na posição determinada pela classe acima*/
    display: table; /*Poderia ser um block tbm*/
    clear: both; /*trata o problema dos floats adciona um elemento antes e depois para determinar altura do float*/
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    box-sizing: border-box; /*corrige o tamanho para não ser somado 50 + 15*/
    width: 100%;
}


.col-1 {
    width: 8.333333333333%;
}
.col-2 {
    width: 16.6666666666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
   width: 33.3333333333%;
}
.col-5 {
    width: 41.666666666%;
 }
.col-6 {
    width: 50%;
}
.col-7 {
    width:58.3333333333%;
}
.col-8 {
    width:66.6666666666%;
}
.col-9 {
    width:75%;
}
.col-10 {
    width:83.3333333333%;
}
.col-11 {
    width:91.6666666666%;
}
.col-12 {
    width:100%;
}

@media(min-width: 640px) { /* Estabelece o tamanho de tela mínima, programador que escolhe */
    .col-md-1 {
        width: 8.333333333333%;
    }
    .col-md-2 {
        width: 16.6666666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
       width: 33.3333333333%;
    }
    .col-md-5 {
        width: 41.666666666%;
     }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width:58.3333333333%;
    }
    .col-md-8 {
        width:66.6666666666%;
    }
    .col-md-9 {
        width:75%;
    }
    .col-md-10 {
        width:83.3333333333%;
    }
    .col-md-11 {
        width:91.6666666666%;
    }
    .col-md-12 {
        width:100%;
    }
}

@media(min-width: 1080px) { /* Estabelece o tamanho de tela mínima, programador que escolhe */
    .col-lg-1 {
        width: 8.333333333333%;
    }
    .col-lg-2 {
        width: 16.6666666666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
       width: 33.3333333333%;
    }
    .col-lg-5 {
        width: 41.666666666%;
     }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width:58.3333333333%;
    }
    .col-lg-8 {
        width:66.6666666666%;
    }
    .col-lg-9 {
        width:75%;
    }
    .col-lg-10 {
        width:83.3333333333%;
    }
    .col-lg-11 {
        width:91.6666666666%;
    }
    .col-lg-12 {
        width:100%;
    }
}