/* Carousel */

.carousel-item {
    height: calc(100vh - 56px);
    background-position: center top;
    background-size: cover;
}

.carousel-item-1{
    background-image: url("../img/Creative.jpg");
}

.carousel-item-2{
    background-image: url("../img/Creative-2.jpg");
}

.carousel-item-3{
    background-image: url("../img/Creative-3.jpg");
}

